export("bigWigDirname<-")
export("bigWigRanges<-")
export("bigWigSamples<-")
export(bigWigExperiment)
export(bigWigPaths)
export(bigWigRanges)
export(bigWigSamples)
export(coverageSingleRange)
export(intCoverageMatrix)
export(rleTTest)
export(rowMeansListRles)
export(rowSumsListRles)
exportMethods(BigWigViews)
